.name {
    font-family: 'Fjalla One', sans-serif;
    font-size: 6rem;
}
.profile-picture {
    height: 300px;
    width: 300px;
}
.card {
    width: 15rem;
    text-align: center;
    padding-top: 20%;
    background-color: #FDC7C7;
    margin-bottom: 20%;
}
.card-text, .brand-statement {
    font-family: 'Cantarell', sans-serif;
}
.gameName {
    font-family: 'Cantarell', sans-serif;
    font-weight: bolder; 
    color: black;  
}
.card-body {
    margin-bottom: 10%;

}
#banner-1 {
    background-color: #FDC7C7;
    height: 150px;
}
#banner-2 {
    background-color: #FF8686;
    height: 150px;

}
#banner-3 {
    background-color: #FB4444;
    height: 150px;
}
#banner-4 {
    background-color: #FF0000;
    height: 150px;
}
.brand-statement {
    font-size: 18px;
    padding-top: 5%;

}
img {
    padding-top: 5%;
    height: 150px;
    width: 150px;
    padding-bottom: 5%;
    object-fit: contain;
}
footer {
    text-align: center;
}
a {
    color: black;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    margin-bottom: 10px !important;
}
button {
    font-family: 'Cantarell', sans-serif;
    font-weight: 900; 
    margin-bottom: 10px !important;
}

@media (min-width: 576px) {
    .card {
        padding-top: 5%;
        margin-bottom: 5%;
        /*background-color: red;*/
        

}
.col-md-2 {
    text-align: center;
}
}

@media (min-width: 768px) {
    .card {
        padding-top: 5%;
        margin-bottom: 5%;
        /*background-color: blue;*/
    }

}

@media (min-width: 992px) {
    .card {
        padding-top: 20%;
        margin-bottom: 20%;
        /*background-color: orange;*/
    }
}

@media (min-width: 1200px) {
    .card {
        padding-top: 20%;
        margin-bottom: 20%;
        /*background-color: yellow;*/
    }
}
